.ant-tabs-nav-list {
  width: 100%;
  justify-content: center;
}
.ant-alert-message {
  font-size: 24px !important;
  font-weight: 700;
}
.tab3-title {
  font-size: 20px !important;
  margin-bottom: 10px;
  font-weight: 700 !important;
}
.tab3-title:not(:first-child) {
  margin-top: 10px;
}
.checkbox-exam-tab1 .ant-checkbox-group-item {
  padding: 5px 10px !important;
  border: 1px solid #d9d9d9 !important;
}
.practice-with-each-section h4,
.practice-with-each-section h5 {
  font-weight: 700;
}
.practice-with-each-section .practice-count-question {
  font-weight: 700;
  font-size: 18px;
  line-height: 46px;
}
.practice-with-each-section li {
  list-style: initial;
  margin-left: 20px;
}
.practice-with-each-section .md-contents {
  margin-bottom: 10px;
}

.form-practice .form-item-button {
  display: flex;
  justify-content: end;
}
.form-practice .form-practice-bottom .form-number-of-questions {
  flex: 0 0 40%;
}
.form-practice .form-practice-bottom .form-timer {
  flex: 0 0 40%;
}
.form-practice .form-practice-bottom .form-timer .ant-picker {
  width: 100%;
}
.ant-modal-title {
  font-weight: 700;
}

.error-message {
  color: red;
}
.description-practice {
  text-align: justify;
  text-justify: inter-word;
  white-space: pre-line;
  font-family: inherit;
  line-height: 30px;
}
