.layout-container-body.study-road
{
    margin-bottom: 40px;
    margin-top: 40px;
    .LearningPathGroup_wrapper__PqkfS
    {
        width: 100%;
    }
    h2
    {
        color: #262B40;
    }
}
.layout-container-top.study-road
{
    h1
    {
        font-weight: 900;
    }
}