.statistic-component {
  margin-bottom: 40px;
}
.overview-container-page .ant-tabs-nav-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
.overview-container-page .ant-tabs-nav-wrap .ant-tabs-tab-btn {
  font-size: 16px;
}
